# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

build
build/static
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.env.local
*.env.example
*.db

db/data/*

f1db.sql
f1predict.code-workspace
dbServer/my.cnf

*.yarn
*:Zone.Identifier

coverage/*

db/all_views.sql